/* Project-wide style */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');

body {
  margin-top: 2%;
  background: rgb(230, 117, 117)
  
}

.judul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  float: center;
  margin-right: 2%;
}

.content {

  background-color: white;
  position: relative;
  opacity: 0.8;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 10px;
  font: 24px/36px;
  height: 400px;
  overflow: scroll;

}




