{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"> </script>
    <script src="{% static 'js/style1.js' %}"></script>
    <meta charset="UTF-8">

  {% block meta %}

  {% endblock meta %}
</head>


<body>
    
  {% block content %}
  {% endblock content %}
</body>

</html>