
{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="{% static 'js/style1.js' %}"></script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block meta %}
<title>Hello, world!</title>
{% endblock meta %}

{% block content %}

<body>
  <div class='container'>
      <h1 class = 'judul'>Book List</h1>

      <div class="input">
          <input type="text" id="keyword" placeholder="Search for books.." >
      </div>
      <br>
      <div class="content">
          <table >
              <thead>
                  <tr>
                      <th scope="col" class="align-middle">No</th>
                      <th scope="col" class="align-middle">Cover</th>
                      <th scope="col" class="align-middle">Title</th>
                      <th scope="col" class="align-middle">Authors</th>
                      <th scope="col" class="align-middle">Publisher</th>
                      <th scope="col" class="align-middle">Published Date</th>
                  </tr>
              </thead>
              <tbody id="daftar_isi"></tbody>
              

                
              </div>
          </table>
      </div>
  </div>
</body>



{% endblock content %}
